
.mobile{
  display: none;
  z-index: 200;
  /* height: auto; */
  
}

.close{
  background-color: orange;
  padding: 5px;
  cursor: pointer;
  width: 100%;
  border: none;
  font-size: 20px;
  margin-bottom: 5px;
  
}
.mobile-sidebar{
  position: fixed;
  left: 0;
  /* bottom: 40vh; */
  top: 55px;
  width: 100px;
  /* background-color: rgb(221, 232, 221); */
  background-color: rgba(240, 248, 255, 0.144);
  backdrop-filter: blur(3px) brightness(80%);
  z-index: 200;
  padding-top: 5px;
  /* display: none; */
  

}
